.demoMenuPlain {
  flex: 1 1 auto;
}

.demoMenuIcons {
  flex: 1 1 auto;
}

/*
.jv-mMenu.mui.menuDemo {
    top: 160px !important;
    left: 24px !important;
}

.jv-mMenu.mui.menuDemoIcons {
    top: 160px !important;
    left: 500px !important;
}*/
