.demoWrapper.demoPanel {
  flex-wrap: nowrap;
  height: 600px;
}

.demoPanel-canvasRight {
  /*  background-image: url("canvas-panel-right.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 826px;*/
  flex: 1 1 auto;
  opacity: 0.3;
  padding: 0 24px;
}

.demoPanel-canvasLeft {
  /*  background-image: url("canvas-panel-left.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 826px;*/
  flex: 1 1 auto;
  opacity: 0.3;
  padding: 0 24px;
}

.demoPanel-canvasClick {
  /*  background-image: url("sales-per-city.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 1300px;*/
  flex: 1 1 auto;
  opacity: 0.3;
  padding: 0 24px;
}

.demoPanel-vistypes {
  background-image: url("vis-types.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 232px;
  height: 1243px;
  opacity: 0.3;
  width: 100%;
}

.demoPanelSection {
  height: 500px;
  margin: 0 24px 24px 0;
  padding: 12px;
  width: 250px;
}

.demoPanelSection * {
  box-sizing: border-box;
}

.demoAdhocPanel .demoText {
  font-family: source_sans_proregular, "Open Sans", Verdana;
  font-size: 13px;
  margin: 0;
  padding: 0 16px;
}
