/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* =========================================
   ACCORDION MODULE
   Last modified date:    May 22, 2020
   Last modified by:      Anna Leeg
 * ======================================== */

// --------------------------------
//   GROUPING MECHANISM FOR INPUTS
// --------------------------------
// Can be used to contain multiple accordions stacked on top of each other
// If a label or search is needed for an accordion stack, use the Listbox component instead
.jv-mAccordiongroup.jv {
  font-size: $font-size-primary;
}

.jv-mAccordiongroupBorder.jv {
  border: 1px solid #e4e4e4;
  border-top: none;
}

// -------------------------
//   BASE ACCORDION MODULE
// -------------------------
.jv-mAccordion.jv {
  color: #666;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  font-weight: normal;
}

.jv-mAccordion-header.jv {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  height: auto;
}

.jv-mAccordion-header-expander.jv {
  float: left;
}

.jv-mAccordion-header-expander.jv > .jv-mIcon.jv {
  vertical-align: top;
}

.jv-mAccordion-header-title.jv {
  color: $grey-textDark;
  font-size: em(13px, 12px);
  font-weight: normal;
  line-height: em(24px, 12px);
  padding-right: em(12px, 12px);
}

.jv-mAccordion-body.jv {
  background-color: #fff;
}

.jv-mAccordion-body-wrapper.jv {
  height: auto;
}

// ---------------------------------------------
// MODULE VARIATION, ACCORDION HAS OUTER BORDER
// ---------------------------------------------
.jv-mAccordionBorder.jv {
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

.jv-mAccordionBorder.jv:last-of-type {
  border-bottom: 1px solid #e4e4e4;
}

.jv-mAccordionBorder.jv .jv-mAccordion-body.jv {
  height: calc(100% - 28px);
}

// --------------------------------------------
// MODULE VARIATION, BODY WITH VERTICAL SCROLL
// --------------------------------------------
.jv-mAccordion-bodyScroll.jv {
  height: calc(100% - 26px);
}

.jv-mAccordion-bodyScroll.jv .jv-mAccordion-body-wrapper.jv {
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// ------------------------------------
// MODULE VARIATION, BODY WITH PADDING
// ------------------------------------
.jv-mAccordion-bodyPadded.jv {
}
.jv-mAccordion-bodyPaddedHalf.jv {
}
.jv-mAccordion-bodyPaddedTiny.jv {
}

.jv-mAccordion-bodyPadded.jv .jv-mAccordion-body-wrapper.jv {
  padding: 1em;
}

.jv-mAccordion-bodyPaddedHalf.jv .jv-mAccordion-body-wrapper.jv {
  padding: em(6px, 12px);
}

.jv-mAccordion-bodyPaddedTiny.jv .jv-mAccordion-body-wrapper.jv {
  padding: em(3px, 12px);
}

// ----------------------------------------
// MODULE VARIATION, BODY WITH LEFT INDENT
// ----------------------------------------
// aligns content vertically with the left edge of the header text
.jv-mAccordion-bodyIndent.jv {
}
.jv-mAccordion-bodyIndentTree.jv {
}

.jv-mAccordion-bodyIndent.jv .jv-mAccordion-body-wrapper.jv {
  padding: em(2px, 12px) em(2px, 12px) em(2px, 12px) em(24px, 12px);
}

.jv-mAccordion-bodyIndentTree.jv .jv-mAccordion-body-wrapper.jv {
  padding-left: em(15px, 12px);
} //for use with tree module, which already has built-in padding

// STATES
.jv-mAccordion.jv-isCollapsed.jv .jv-mAccordion-header.jv,
.jv-mAccordion.jv-isExpanded.jv .jv-mAccordion-header.jv {
  cursor: pointer;
}

.jv-mAccordion.jv-isCollapsed.jv .jv-mAccordion-header-expander.jv {
  margin-left: em(1px, 12px);
  margin-right: em(1px, 12px);
}

.jv-mAccordion.jv-isExpanded.jv .jv-mAccordion-header-expander.jv {
  margin-left: em(1px, 12px);
  margin-right: em(1px, 12px);
}

.jv-mAccordion.jv-isCollapsed.jv .jv-mAccordion-body-wrapper.jv {
  display: none;
}

.jv-mAccordion.jv-isCollapsed.jv .jv-mAccordion-body {
  //if modules are ever stacked and collapsed, this creates visible space between them
  height: em(4px);
}
.jv-mAccordion:last-of-type.jv-isCollapsed.jv .jv-mAccordion-body.jv {
  //if modules are ever stacked and collapsed, the last module has no space below it
  height: 0;
}
