/* ========================================
   LIST MODULE
   Last modified date:     June 1, 2020
   Last modified by:       Anna Leeg
 * ======================================== */

// -----------------------------------------------
//  BOX COMPONENT FOR GENERAL USE
//
//  Usage:
//
//  1. Apply borders to jv-mBox
//  2. Apply shading and overflow rules fo jv-mBox-content
// -----------------------------------------------

.jv-mBox.jv {
  display: block;
}

.jv-mBoxBorder.jv {
  // add border color with utility style
  border-style: solid;
  border-width: 1px;
}

.jv-mBoxFill.jv {
  height: 100%;
  width: 100%;
}

.jv-mBox-body.jv {
  height: 100%;
  width: 100%;
}
