/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* ========================================
    BREADCRUMB MODULE
    Last modified date:    Apr 24, 2023
    Last modified by:      Anna Leeg
 * ======================================== */

// ------------------
//  BASE BREADCRUMB
// ------------------
.jv-mBreadcrumbs.jv {
  display: flex;
  margin: 6px 12px 16px 12px;
}

.jv-mBreadcrumbs-crumb.jv {
  display: flex;
  font-family: $font-family-primary;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  text-decoration: none;
}

.jv-mBreadcrumbs-crumb.jv:not(:last-of-type) {
  color: #01529a;
}

.jv-mBreadcrumbs-crumb.jv:hover:not(:last-of-type) {
  text-decoration: underline;
}

.jv-mBreadcrumbs-crumb.jv:not(:last-child):after {
  content: "";
  width: 20px;
  height: 24px;
}

.jv-mBreadcrumbs-crumb.jv:not(:last-child):after {
  background-image: image-url("disclosure_indicators_icons_sprite.svg");
  background-position: 4px -259px;
  background-size: 150px;
}

.jv-mBreadcrumbs-crumb.jv:last-child {
  cursor: text;
}
