/* =============================================
    CANVAS RULES

    Project:                JasperReports Server
    Last modified date:     June 24, 2016
    Last modified by:       Anna Leeg
 * ============================================= */

@use "sass:math";

.jv-mCanvasContainer.jv {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.jv-mCanvas.jv {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.jv-mCanvas-title.jv {
  height: em(28px); // 2.545em | 28px / 11px
  margin: 1em 0;
}

.jv-mCanvas-title-text.jv {
  font-size: em(16px); // 1.455em | 16px / 11px
  height: em(28px, 16px); // 1.75em | 28px / 16px
  line-height: math.div(28px, 16px); // 1.75 | 28px / 16px, unitless value
  text-align: center;
}

// .jv-mCanvas-title-input.jv {}

// LAYOUT VARIATION, scrolling canvas
.jv-mCanvasScroll.jv {
  overflow: auto;
}

// LAYOUT VARIATION, positioning according to location in JRS
.jv-mCanvasContainerAdhoc.jv {
  top: em(34px); // 3.091em | 34px / 11px
}
