/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* ============================================
   DOMAIN DESIGNER UI
   Last modified date:     May 24, 2021
   Last modified by:       Anna Leeg
 * ============================================ */

.jv-mDomain.jv {
  background-color: #fff;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  font-weight: normal;
  height: 100%;
  //overflow: hidden;        // it collapses layout when used in JRS
}

.jv-mDomainDesigner.jv {
  // this class won't be needed when full layout architecture is implemented.
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.jv-mDomain-header.jv {
  border-bottom: 2px solid $color-tciDark;
  display: flex;
  height: 40px;
  justify-content: space-between; //use flex-start for left-aligned tabs
}

.jv-mDomain-header-title.jv {
  color: #333;
  display: flex;
  flex: 0 1 auto;
  height: auto;
  min-width: 230px;
  margin-right: 3em;
}

.jv-mDomain-header-title-icon.jv {
  align-self: center;
  background-image: image-url("workflow_icons_sprite.svg");
  background-position: 0 -152px;
  background-repeat: no-repeat;
  background-size: 27px;
  border-radius: 50%;
  height: 27px;
  margin-left: 8px;
  min-width: 27px;
  width: 27px;
}

.jv-mDomain-header-title-text.jv {
  align-self: center;
  font-size: 22px;
  margin-left: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jv-mDomain-header-tabs.jv {
  align-self: flex-end;
  flex: 0 1 auto;
}

.jv-mDomain-content.jv {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
}

.jv-mDomain-content-main.jv {
  right: 0;
  left: 0;
  overflow: hidden;
  @include column;
}

.jv-mDomain-content-datapanel.jv {
  @include column;
  @include column-left;
  background-color: #f7f7f7;
  border-right: 2px solid #fff;
  width: 15.625em;
  height: 100%; // to fix layout issues with absolute positioned parent
}

.jv-mDomain-content-datapanel.jv + .jv-mDomain-content-main.jv {
  // only indents main content when there is a side panel
  left: 250px;
}

// mode workspace
.jv-mDomain-mode.jv {
  position: absolute; // adding absolute positioning here results in more logical positioning values on child elements
  top: 32px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.jv-mDomain-modeManage.jv {
}
.jv-mDomain-modeJoins.jv {
}
.jv-mDomain-modePrefilters.jv {
}
.jv-mDomain-modePresentation.jv {
}
.jv-mDomain-modeOptions.jv {
}

.jv-mDomain-mode-wrapper.jv {
  overflow: hidden;
  height: 100%;
}

.jv-mDomain-modeManage.jv .jv-mDomain-mode-wrapper.jv {
  padding: 2em 2em 0 2em;
}

.jv-mDomain-modeJoins.jv .jv-mDomain-mode-wrapper.jv,
.jv-mDomain-modePrefilters.jv .jv-mDomain-mode-wrapper.jv,
.jv-mDomain-modePresentation.jv .jv-mDomain-mode-wrapper.jv {
  display: flex;
  flex-direction: column;
}

.jv-mDomain-modeOptions.jv .jv-mDomain-mode-wrapper.jv,
.jv-mDomain-modeSecurity.jv .jv-mDomain-mode-wrapper.jv {
  overflow-y: auto;
  padding: 2em 2em 0 2em;
}

.jv-mDomain-mode-controls.jv {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 38px;
  padding: 0 1em;
}

.jv-mDomain-mode-controls-buttons.jv {
  white-space: nowrap;
}

.jv-mDomain-mode-controls-search.jv {
}

.jv-mDomain-modeJoins.jv .jv-mDomain-mode-controls.jv,
.jv-mDomain-modePrefilters.jv .jv-mDomain-mode-controls.jv {
  border-bottom: 1px solid #e4e4e4;
  justify-content: flex-end;
}

.jv-mDomain-modePresentation.jv .jv-mDomain-mode-controls.jv {
  border-bottom: 1px solid #e4e4e4;
}

.jv-mDomain-modeSecurity.jv .jv-mDomain-mode-editor.jv {
  border: 1px solid #e4e4e4; // changed from #e5 to #e4 after color consolidation done before Embed code story
  height: calc(100% - 140px);
  width: 100%;
}

.jv-mDomain-mode-title.jv {
}

.jv-mDomain-mode-title-text.jv,
.jv-mDomain-mode-title-object.jv {
  display: inline-block;
  font-size: 18px; // new base font size
  line-height: 2;
}

.jv-mDomain-mode-title-text.jv {
  color: $color-tciMedium;
}

.jv-mDomain-shuttle.jv {
  //height: calc(100% - #{em(204px)});
  height: calc(100% - 204px);
  margin: 2em 0;
  min-height: 300px;
  width: 700px;
}

.jv-mDomain-shuttle.jv:last-child {
  //height: calc(100% - #{em(80px)});
  height: calc(100% - 80px);
}

.jv-mDomain-attributeinput.jv {
  margin: 1.5em 0;
  width: 700px;
}

.jv-mDomain-mode-joinlist.jv {
  height: 100%;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.jv-mDomain-mode-dropbar.jv {
}

.jv-mDomain-mode-prefiltertable.jv,
.jv-mDomain-mode-presentationtable.jv {
  height: 100%;
  overflow: hidden;
  padding: 1em 1em 0 1em;
  width: 100%;
}

.jv-mDomain-mode-resourcetable.jv {
  // has clearfix rules because Add button floats right at bottom of container
  clear: both;
  content: "";
  display: table;
  min-width: 350px;
}

// custom icon positions so arrows don't look funny lined up with "to top" and "to bottom" arrows
// perhaps revisit and have them this way by default
//.jv-mDomain.jv .jv-mIcon.jv-arrowUp.jv {
//  line-height: (29px / 17px)
//}
//.jv-mDomain.jv .jv-mIcon.jv-arrowDown.jv {
//  line-height: (27px / 17px)
//}

// MODE STYLES

// this needs to be removed—NO javascript style in CSS
.jv-jJoinsBody.jv {
  overflow-y: auto;
}
