/* ========================================
    REPORT UNIT RESOURCE CHOOSER FOR EDITOR MODULE
    Last modified date:     SEP 17, 2021
    Last modified by:       Narcis Marcu
 * ======================================= */

// -----------------------------------------------
//   TABLE OF CONTENTS
//
//   1. BASIC MODULE
//
// -----------------------------------------------

//  ---------------------
//  1. BASIC MODULE
//  ---------------------

.jv-mReportUnitResourceChooserDialog {
  user-select: none;

  & .content {
    padding-top: em(20px);
    padding-left: em(20px);
    padding-right: em(20px);

    & .subheader .list .resources .wrap.header {
      background-color: $grey-6;
    }
  }

  & .reportUnitResources {
    padding-top: em(8px);
  }

  & .content .subheader p.column.two {
    padding-left: 3px;
  }

  & .resources .wrap.button.pressed,
  & .resources.selected {
    & .resourceName,
    & .resourceType {
      color: #fff;
    }
  }

  & .jv-mDialog-footer.jv {
    padding-left: em(20px);
    border-top: unset;
  }
}
