/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* ============================================
    HOME PAGE RULES
    Last modified date:     Jan 15, 2018
    Last modified by:       Anna Leeg
 * ============================================ */

.jv-mHome.jv {
  font-family: $font-primary---family;
  font-size: $font-primary---size;
  font-weight: normal;
}

.jv-mHome.jv {
  overflow: hidden;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jv-mHome-header.jv {
  display: flex;
  min-height: em(40px);
  //justify-content: space-between;
}

.jv-mHome-header-title.jv {
  height: auto;
  max-width: em(430px);
  min-height: em(36px);
  min-width: em(230px);
  margin-right: 3em;
}

.jv-mHome-header-title-text.jv {
  @include page-title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
