/* =============================================
    INPUT CONTROL MODULE STYLESHEET

    Project:                JasperReports Server
    Last modified date:     April 29, 2019
    Last modified by:       Anna Leeg
 * ============================================= */

// @import 'input';

//Container for Input Controls

.jv-mInputControlContainer.jv {
  color: #333333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
}

/* to prevent source sans from being inherited
.jv-mInputControlBoolean.jv *,
.jv-mInputControlSingleValueText.jv *,
.jv-mInputControlSingleValueNumber.jv *,
.jv-mInputControlSingleValueDate.jv *,
.jv-mInputControlSingleValueDatetime.jv *,
.jv-mInputControlSingleValueTime.jv *,
.jv-mInputControlSingleSelectRadio.jv *,
.jv-mInputControlMultiSelectCheckbox.jv *,
.jv-mInputControlSingleSelect.jv *,
.jv-mInputControlMultiSelect.jv * {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
} */

//Input Control types we support

.jv-mInputControlBoolean.jv {
  /**/
}

.jv-mInputControlSingleValueText.jv {
  /**/
}

.jv-mInputControlSingleValueNumber.jv {
  /**/
}

.jv-mInputControlSingleValueDate.jv {
  /**/
}

.jv-mInputControlSingleValueDatetime.jv {
  /**/
}

.jv-mInputControlSingleValueTime.jv {
  /**/
}

.jv-mInputControlSingleSelect.jv {
  /**/
}

.jv-mInputControlMultiSelect.jv {
  /**/
}

.jv-mInputControlSingleSelectRadio.jv {
  /**/
}

.jv-mInputControlMultiSelectCheckbox.jv {
  /**/
}
