/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* ==================================================
    JOIN TREE MODULE
    Last modified date:     Oct 26, 2021
    Last modified by:       Anna Leeg
 * ================================================== */

// --------------------------------------------------
//  JOIN TREE PLACEHOLDER CONTAINER
// --------------------------------------------------
//  Join trees are draggable objects. To show where
//  a dragged join tree will be placed, use this
//  placeholder container with a jv-mDropzoneBar.
// --------------------------------------------------
.jv-mJointreePlaceholder.jv {
  align-items: flex-start;
  display: flex;
  height: 16px;
  padding: 6px 0;
}

.jv-mJointreePlaceholder.jv:first-of-type {
  height: 8px;
  padding-top: 0;
}

.jv-mJointreePlaceholder.jv *:only-child {
  display: none;
}

// ------------------
//  JOIN TREE MODULE
// ------------------
.jv-mJointree.jv {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  min-width: 600px;
  width: 100%;
}

.jv-mJointree-header.jv {
  background-color: #ebebeb;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  padding-right: 12px;
}

.jv-mJointree-header-mover.jv {
  // position is absolute so jointree title and table names "columns" have same width
  background-color: #e4e4e4;
  border-top-left-radius: 3px;
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 22px;
}

.jv-mJointree-header-mover-icon.jv {
  line-height: 32px;
}

.jv-mJointree-header-title-wrapper.jv {
  cursor: pointer;
  display: inline-block;
}

.jv-mJointree-header-title-toggle.jv {
  float: left;
}

.jv-mJointree-header-validation.jv {
  align-items: center;
  display: none;
  float: left;
  height: 100%;
  justify-content: center;
  margin-right: -28px;
  margin-left: 22px;
  width: 33px;
}

.jv-mJointree-header-title.jv {
  align-self: center;
  flex: 1 1 50%;
  height: auto;
  margin-left: 33px;
  min-width: 200px;
  white-space: nowrap;
}

.jv-mJointree-header-title-text.jv {
  color: $grey-textDarker;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jv-mJointree-header-type.jv,
.jv-mJointree-header-weight.jv {
  align-self: center;
  font-size: 13px;
  color: $grey-textMedium;
  flex: 0 1 auto;
  padding-right: 8px;
}

.jv-mJointree-header-type.jv {
  min-width: 168px;
}

.jv-mJointree-header-weight.jv {
  min-width: 100px;
}

.jv-mJointree-header-action.jv {
  align-self: center;
  flex: 0 1 auto;
  //margin-left: 8px;
}

.jv-mJointree-header-actionDropdown.jv {
  width: 40px;
}

.jv-mJointree-join.jv {
  background-color: #f7f7f7;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  padding-right: 12px;
}

.jv-mJointree-join-table.jv {
  align-self: center;
  color: $grey-textMedium;
  font-family: $font-family-semibold;
  font-size: 13px;
  font-weight: normal;
  overflow: hidden;
  line-height: 16px;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.jv-mJointree-join-tableLeft.jv {
  cursor: pointer;
  flex: 0 1 auto;
  padding-left: 22px;
}

.jv-mJointree-join-tableRight.jv {
  flex: 1 1 auto;
}

.jv-mJointree-join-table-toggle.jv {
  float: left;
}

.jv-mJointree-join-table-text.jv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.jv-mJointree-join-joiner.jv {
  align-self: center;
  flex: 0 1 auto;
  padding-left: 6px;
  padding-right: 6px;
}

.jv-mJointree-join-tables-table.jv {
  color: $grey-textMedium;
  display: inline-block;
  font-weight: bold;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.jv-mJointree-join-tables-joiner.jv {
  display: inline-block;
}

.jv-mJointree-join-type.jv {
  align-self: center;
  flex: 0 1 auto;
  padding-right: 8px;
  min-width: 170px;
  white-space: nowrap;
}

.jv-mJointree-join-weight.jv {
  align-self: center;
  flex: 0 1 auto;
  min-width: 100px;
  white-space: nowrap;
}

.jv-mJointree-join-action.jv {
  align-self: center;
  flex: 0 1 auto;
  //margin-left: 8px;
}

.jv-mJointree-join-actionDropdown.jv {
  width: 44px;
}

.jv-mJointree-expression.jv {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 32px;
  padding-left: 22px;
  padding-right: 12px;
}

.jv-mJointree-expression.jv:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jv-mJointree-expression-field.jv {
  align-self: center;
  font-size: 13px;
  line-height: 1.5;
  overflow: hidden;
  padding-left: 14px;
  padding-right: 14px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jv-mJointree-expression-fieldLeft.jv {
  flex: 1 1 20%;
  min-width: 200px;
}

.jv-mJointree-expression-field-table.jv {
  color: $grey-textLight;
}

.jv-mJointree-expression-operator.jv {
  align-self: center;
  flex: 1 1 10%;
  padding-left: 6px;
  padding-right: 6px;
}

.jv-mJointree-expression-fieldRight.jv {
  flex: 2 2 40%;
}

.jv-mJointree-expression-fieldCustom.jv {
  flex: 2 2 calc(40% - 32px); //accounts for width of Options button
}

.jv-mJointree-expression-fieldComplex.jv {
  align-self: flex-start;
  flex: 1 1 20%;
  min-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.jv-mJointree-expression-action.jv {
  align-self: center;
  //margin-left: 8px;
}

.jv-mJointree-expression-actionDropdown.jv {
  width: 44px;
}

.jv-mJointree-dropzones.jv {
  align-content: space-between;
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  padding: 6px;
}

.jv-mJointree-dropzones-dropzone.jv {
  flex: 0 1 58%;
}

.jv-mJointree-dropzones-joiner.jv {
  align-self: center;
  flex: 0 0 auto;
  margin: 0 12px;
  opacity: 0.75;
}

.jv-mJointree-footer.jv {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  border-top: none;
  height: 6px;
}

// STATES
.jv-mJointree.jv-isHovered.jv {
  border: 1px dashed $color-tciLight;
}

.jv-mJointree.jv-isCollapsed.jv .jv-mJointree-header-title-toggle.jv {
  border-left: 5px solid $grey-textDark; /* text variable is ok, this is icon inline with text */
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  margin-top: 9px;
  margin-left: 2px;
  margin-right: 9px;
}

.jv-mJointree.jv-isExpanded.jv .jv-mJointree-header-title-toggle.jv {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid $grey-textDark; /* text variable is ok, this is icon inline with text */
  margin-top: 12px;
  margin-right: 8px;
}

.jv-mJointree-header-validation.jv-isInvalid.jv {
  display: flex;
}

.jv-mJointree-join.jv-isCollapsed.jv .jv-mJointree-join-table-toggle.jv {
  border-left: 5px solid $grey-textMedium; /* text variable is ok, this is icon inline with text */
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  margin-top: 6px;
  margin-right: 8px;
}

.jv-mJointree-join.jv-isExpanded.jv .jv-mJointree-join-table-toggle.jv {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid $grey-textMedium; /* text variable is ok, this is icon inline with text */
  margin-top: 9px;
  margin-right: 7px;
  margin-left: -2px;
}

.jv-mJointree.jv-isCollapsed.jv .jv-mJointree-header.jv {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jv-mJointree.jv-isCollapsed.jv .jv-mJointree-header-mover.jv {
  border-bottom-left-radius: 4px;
}

.jv-mJointreePlaceholder.jv-isHovered.jv *:only-child {
  display: block;
}

.jv-mJointree-join.jv-isCollapsed.jv:last-of-type {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: none;
}
