/*! ========================================
    LAYOUT RULES
    Last modified date:     Jan 21, 2022
    Last modified by:       Anna Leeg
 * ======================================== */

/* not implemented, these are placeholders only
.jv-lPage.jv {}
.jv-lPage-header.jv {}
.jv-lPage-footer {}
*/

.jv-lPage-body.jv {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.jv-lPage-body-title.jv {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  position: relative;
}

.jv-lPage-body-content.jv {
  height: 100%;
  overflow-y: auto;
}

.jv-lPage-body-contentPadded.jv {
  padding: 24px;
}
