/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* ==========================================
	LINK STYLES
	Last modified date:   June 12, 2020
	Last modified by:     Anna Leeg
 * ========================================== */

// ------------
//  LINK TEXT
// ------------
// standard link - no effects
.jv-mLink.jv {
  display: inline-block;
  font-family: $font-family-primary;
  font-size: 13px;
  font-weight: normal;
}

.jv-mLink.jv:link,
.jv-mLink.jv:visited,
.jv-mLink.jv:hover,
.jv-mLink.jv:active {
  text-decoration: none;
}

// themed link - colored according to theme
.jv-mLinkTheme.jv {
  color: $color-textThemePrimary;
}
.jv-mLinkTheme.jv:link,
.jv-mLinkTheme.jv:visited,
.jv-mLinkTheme.jv:hover,
.jv-mLinkTheme.jv:active {
  color: $color-textThemePrimary;
}

// decorated link - always underlined
.jv-mLinkDecorated.jv {
}
.jv-mLinkDecorated.jv:link,
.jv-mLinkDecorated.jv:visited,
.jv-mLinkDecorated.jv:hover,
.jv-mLinkDecorated.jv:active,
.jv-mLinkDecorated.jv:focus {
  text-decoration: underline;
}

// dynamic link - underline on hover
.jv-mLinkDynamic.jv {
}

.jv-mLinkDynamic.jv:link,
.jv-mLinkDynamic.jv:visited {
  text-decoration: none;
}

.jv-mLinkDynamic.jv:hover,
.jv-mLinkDynamic.jv:active,
.jv-mLinkDynamic.jv:focus {
  text-decoration: underline;
}

// link with icon
.jv-mLink.jv .jv-mIcon.jv,
.jv-mLink-icon.jv,
.jv-mLink-icon.jv:link,
.jv-mLink-icon.jv:visited,
.jv-mLink-icon.jv:hover,
.jv-mLink-icon.jv:active {
  text-decoration: none;
}

.jv-mLink-icon.jv {
  color: inherit;
  font-size: 16px;
  line-height: 1.2;
  margin-right: 6px;
  vertical-align: middle;
}
