/* ========================================
   LIST MODULE
   Last modified date:     May 6, 2020
   Last modified by:       Anna Leeg
 * ======================================== */

@use "sass:math";

.jv-mList.jv {
  color: #464646;
  font-family: $font-family-primary;
  font-size: 13px;
  font-weight: normal;
}

.jv-mList-item.jv {
  line-height: math.div(18px, 13px); // unitless value
  margin-bottom: em(10px, 13px);
  padding-left: 2em;
  position: relative;
}

.jv-mList-item-icon.jv {
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
}

.jv-mList-item-title.jv {
  display: block;
  font-family: $font-family-semibold;
  font-weight: normal;
}

.jv-mList-item-titleInline.jv {
  display: inline;
}

.jv-mList-item-text.jv {
  white-space: normal;
  word-wrap: break-word;
}

.jv-mList-item-title.jv:first-child,
.jv-mList-item-title.jv:first-child + .jv-mList-item-text.jv {
  position: relative;
  left: -2em;
}

.jv-mList-item-text.jv + .jv-mList-item-text.jv {
  display: block;
  margin-left: -2em;
}

.jv-mList-item-text.jv:first-child {
  position: relative;
  left: -2em;
}

// MODULE VARIATIONS, Text size
.jv-mListSmall.jv .jv-mList-item.jv {
  font-size: em(12px, 13px); // new base font size
}

.jv-mListLarge.jv .jv-mList-item.jv {
  font-size: em(15px, 13px); // new base font size
}
