/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* =========================================
	OVERLAY MODULE
	Last modified date:     July 26, 2017
	Last modified by:       Anna Leeg
 * ========================================= */

// ------------------
//	OVERLAY MODULE
// ------------------
.jv-mOverlay.jv {
  background-color: rgba(51, 51, 51, 0.6);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex-overlay;
}

.jv-mOverlayLight.jv {
  background-color: rgba(190, 190, 190, 0.6);
}

.jv-mOverlay-wrapper.jv {
  height: 100%;
  text-align: center;
}

.jv-mOverlay-wrapperCenter.jv {
  height: auto;
  text-align: center;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.jv-mOverlay-wrapperCenter.jv:before {
  vertical-align: middle;
}

.jv-mOverlay-centroid.jv {
  height: 100%;
  text-align: center;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
} //TODO: remove centroid rule after JRS-12165

// ---------------------------------
// MODULE VARIATION, TRANSPARENT
// ---------------------------------
.jv-mOverlayClear.jv {
  background-color: transparent;
}

// STATE
.jv-mOverlay.jv-isHidden.jv {
  display: none;
}
