/* ============================================
    SIZER RULES (jQuery Widget)
    Last modified date:     Oct 4, 2018
    Last modified by:       Anna Leeg
 * ============================================ */

// -----------------
//  SIZER MODULES
// -----------------
.jv-mSizer.jv {
  color: #333333;
  font-family: $font-primary---family;
  font-size: $font-primary---size;
  font-weight: normal;
}

.jv-mSizer-handle.jv {
}

// MODULE VARIATION, horizontal/column resizer
.jv-mSizerHorizontal.jv {
  cursor: col-resize !important;
  z-index: 1000;
}

// MODULE VARIATION, vertical/row resizer
.jv-mSizerVertical.jv {
  cursor: row-resize !important;
}

.jv-mSizerVertical.jv .jv-mSizer-handle.jv {
  margin-bottom: em(10px);
  margin-top: em(10px);
}

// jquery-ui overrides
.jv-mSizerVertical.jv.ui-resizable-s {
  bottom: 0;
  left: inherit;
  margin-bottom: em(10px);
  margin-top: em(10px);
}

.jv-mSizerVertical.jv .ui-icon {
  background-image: none;
  border-top: 3px double #333;
  height: em(3px);
  margin: 0 auto;
  width: em(10px);
}

// ----------
//   STATES
// ----------
.jv-mSizer.jv-isInvisible.jv {
  display: none;
}
