/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* =============================================
    COMMON STATES
    Last change:    Oct 26, 2016
    Author:         Anna Leeg
 * ============================================ */

.jv-isVisible.jv {
  display: block;
}

/* removes element from flow */
.jv-isHidden.jv {
  display: none;
}

/* takes up space in flow, just invisible */
.jv-isInvisible.jv {
  visibility: hidden;
}
