/* =============================================
    TABS MODULE
    Last modified date:     May 1, 2019
    Last modified by:       Anna Leeg
 * ============================================= */

// ------------------------
//    BASE TABS MODULE
// ------------------------

@use "sass:math";

.jv-mTab.jv {
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  white-space: nowrap;
}

.jv-mTab-item.jv {
  cursor: pointer;
  position: relative;
}

.jv-mTab-item-label.jv {
  color: $grey-textMedium;
  display: inline-block;
  font-size: em(14px, 14px);
  height: em(32px, 14px);
  line-height: math.div(32px, 14px);
  padding: 0 1em;
}

.jv-mTab-item-icon.jv {
}

// VARIATION FOR SHORTER TAB HEIGHT .jv-mTabSmall
.jv-mTabSmall.jv .jv-mTab-item-label.jv {
  height: em(28px, 12px);
  line-height: math.div(28px, 12px);
}

// VARIATION FOR ALIGNMENT .jv-mTabCenter and jv-mTabRight
.jv-mTabCenter.jv {
  text-align: center;
}

.jv-mTabRight.jv {
  text-align: right;
}

// VARIATION, STANDARD HORIZONTAL TABS .jv-mTabsHorizontal
.jv-mTabHorizontal.jv .jv-mTab-item.jv {
  border-radius: 0.25em 0.25em 0 0;
  display: inline-block;
  margin-right: 0.25em;
}

.jv-mTabHorizontal.jv .jv-mTab-item-badge.jv {
  height: auto;
  position: absolute;
  top: em(-5px, 14px);
  right: em(-6px, 14px);
  width: auto;
}

// VARIATION, SECONDARY (HORIZONTAL) TABS .jv-mTabsSecondary
.jv-mTabSecondary.jv {
}

.jv-mTabSecondary.jv .jv-mTab-item.jv {
  margin-right: 1em;
}

.jv-mTabSecondary.jv .jv-mTab-item-label.jv {
  height: em(28px, 14px);
  line-height: em(28px, 14px);
  padding: 0 em(6px, 14px);
}

// VARIATION, TEXT (HORIZONTAL) TABS .jv-mTabsText
.jv-mTabText.jv {
}

.jv-mTabText.jv .jv-mTab-title.jv {
  display: inline-block;
}

.jv-mTabText.jv .jv-mTab-title-label.jv {
  color: $grey-textDark;
  font-size: 1em;
  font-family: $font-family-primary;
  font-weight: bold;
  padding-right: em(10px, 14px);
}

.jv-mTabText.jv .jv-mTab-item.jv {
  margin-right: 1em;
}

.jv-mTabText.jv .jv-mTab-item-label.jv {
  height: em(22px, 14px);
  line-height: em(22px, 14px);
  padding: 0 em(1px, 14px);
}

// VARIATION, STACKED TABS .jv-mTabsVertical
.jv-mTabVertical.jv {
}

.jv-mTabVertical.jv .jv-mTab-item.jv {
  border-radius: 0.25em 0 0 0.25em;
  display: block;
  margin-bottom: em(4px, 14px);
}

.jv-mTabVertical.jv .jv-mTab-item-badge.jv {
  height: em(18px, 14px);
  top: em(-5px, 14px);
  left: em(-6px, 14px);
  width: em(18px, 14px);
  position: absolute;
}

// TABS MODULE VARIATION .jv-mTabsReverse
.jv-mTabReverse.jv {
}

.jv-mTabReverse.jv .jv-mTab-item-label.jv {
  color: #fff;
}

// ----------------
//     STATES
// ----------------

// state pseudo-classes are temporary until proper state classes are implemented

// hovered
.jv-mTab-item.jv:hover .jv-mTab-item-label.jv, //temp
.jv-mTab-item.jv-isHovered.jv .jv-mTab-item-label.jv {
  color: $color-tciMedium;
}

// active
.jv-mTab-item.jv-isActive.jv {
  background-color: $color-tciDark;
}

.jv-mTab-item.jv-isActive.jv .jv-mTab-item-label.jv {
  color: #fff;
}

// hovered, reverse
.jv-mTabReverse.jv .jv-mTab-item.jv:hover, //temp
.jv-mTabReverse.jv .jv-mTab-item.jv-isHovered.jv {
  //background-color: rgba(255,255,255,0.12);
}
.jv-mVisualchooser .jv-mTabReverse.jv .jv-mTab-item.jv-isHovered.jv {
  background-color: transparent;
}

.jv-mTabReverse.jv .jv-mTab-item.jv:hover .jv-mTab-item-label.jv, //temp
.jv-mTabReverse.jv .jv-mTab-item.jv-isHovered.jv .jv-mTab-item-label.jv {
  color: #fff;
  opacity: 0.8;
}

// active, reverse
.jv-mTabReverse.jv .jv-mTab-item.jv-isActive.jv {
  background-color: #fff;
}

.jv-mTabReverse.jv .jv-mTab-item.jv-isActive.jv .jv-mTab-item-label.jv {
  color: $color-tciDark;
  opacity: 1;
}

//hovered, secondary
.jv-mTabSecondary.jv .jv-mTab-item.jv:hover .jv-mTab-item-label.jv,  //temp
.jv-mTabSecondary.jv .jv-mTab-item.jv-isHovered.jv .jv-mTab-item-label.jv {
  color: $color-tciMedium;
}

// active, secondary
.jv-mTabSecondary.jv .jv-mTab-item.jv-isActive.jv {
  background-color: transparent;
  border-bottom: 3px solid $color-tciDark;
}

.jv-mTabSecondary.jv .jv-mTab-item.jv-isActive.jv .jv-mTab-item-label.jv {
  color: $color-tciDark;
}

//hovered, text
.jv-mTabText.jv .jv-mTab-item.jv:hover,  //temp
.jv-mTabText.jv .jv-mTab-item.jv-isHovered.jv {
  //border-bottom: 1px solid #dedede;
}

.jv-mTabText.jv .jv-mTab-item.jv:hover .jv-mTab-item-label.jv, //temp
.jv-mTabText.jv .jv-mTab-item.jv-isHovered.jv .jv-mTab-item-label.jv {
  color: $color-tciMedium;
}

// active, text
.jv-mTabText.jv .jv-mTab-item.jv-isActive.jv {
  background-color: transparent;
  border-bottom: 1px solid $color-tciDark;
}

.jv-mTabText.jv .jv-mTab-item.jv-isActive.jv .jv-mTab-item-label.jv {
  color: $color-tciDark;
}

// error
.jv-mTabReverse.jv .jv-mTab-item.jv-hasError.jv:hover, //temp
.jv-mTab-item.jv-hasError.jv {
  background-color: $color-errorLight;
}

.jv-mTabReverse.jv .jv-mTab-item.jv-hasError.jv:hover .jv-mTab-item-label.jv, //temp
.jv-mTab-item.jv-hasError.jv .jv-mTab-item-label.jv {
  color: $color-errorDark;
  opacity: 1;
}

// error, active
.jv-mTab-item.jv-hasError.jv-isActive.jv {
  background-color: $color-tciDark;
}

.jv-mTab-item.jv-hasError.jv-isActive.jv .jv-mTab-item-label.jv {
  color: #fff;
}

// background and color is correct without these:
//.jv-mTabReverse.jv .jv-mTab-item.jv-hasError.jv-isActive.jv {}
//.jv-mTabReverse.jv .jv-mTab-item.jv-hasError.jv-isActive.jv .jv-mTab-item-label.jv {}
