/* =============================================
    TOKEN MODULE
    Last modified date:     December 12, 2017
    Last modified by:       Anna Leeg
 * ============================================= */

.jv-mToken.jv {
  align-items: center;
  border-radius: 3px;
  color: $color-textDark;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: $font-primary---family;
  font-size: $font-primary---size;
  font-weight: bold;
  height: em(28px);
}

.jv-mTokenField.jv {
  //background-color: #67cfcb; TIBCO teal color at 65% lighter tint
  background-color: #4dc3e3; // TIBCO cyan color at 30% lighter tint
}

.jv-mTokenMeasure.jv {
  background-color: #b6d978; // TIBCO leaf color at 65% lighter tint
  // background-color: #dbecbb; TIBCO leaf color at 30% lighter tint
}

.jv-mToken-mover.jv {
  align-self: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: move;
  width: 24px;
  flex: 0 1 auto;
}

//.jv-mToken-mover-icon.jv {}
//.jv-mToken-options-icon.jv {}

.jv-mToken-label.jv {
  align-self: center;
  flex: 0 1 auto;
  font-size: 10px;
  padding-right: em(6px);
  padding-left: em(6px);
}

.jv-mToken-options.jv {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  visibility: hidden;
  flex: 0 1 auto;
}

.jv-mTokengroup.jv {
  align-items: center;
  border: none;
  border-radius: 3px;
  cursor: default;
  display: inline-flex;
  flex-direction: row;
  height: 28px;
  padding-right: 3px;
  width: auto;
}

.jv-mTokengroupMeasure.jv {
  background-color: #dbecbb; // TIBCO leaf color at 30% lighter tint
}

.jv-mTokengroup-mover.jv {
  align-self: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: move;
  width: 24px;
  flex: 0 1 auto;
}

.jv-mTokengroup.jv .jv-mToken.jv {
  height: 24px;
}

.jv-mTokengroup-options.jv {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  visibility: hidden;
  flex: 0 1 auto;
}

//STATES
.jv-mToken-options.jv-isHovered.jv,
.jv-mTokengroup-options.jv-isHovered.jv {
  visibility: visible;
}
