/* =============================================
    TOOLTIP MODULE RULES
    Last modified date:     May 12, 2019
    Last modified by:       Anna Leeg
 * ============================================= */

.jv-mTooltipContainer.jv {
  z-index: $zindex-tooltip;
  display: inline-block;
  //pointer-events: none;
}

.jv-mTooltip.jv {
  background-color: $color-infoMedium;
  border-radius: em(4px, 12px);
  border-style: solid;
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
  color: #fff;
  display: inline-block;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  max-width: em(506px); // this may not be necessary
  padding: em(8px, 12px) em(11px, 12px);
  pointer-events: none;
  z-index: $zindex-tooltip;
  // position: absolute;
}

.jv-mTooltipBottom.jv {
}
.jv-mTooltipBottom.jv:before,
.jv-mTooltipBottomRight:before,
.jv-mTooltipBottomLeft:before {
  border-right: em(6px, 12px) solid transparent;
  border-left: em(6px, 12px) solid transparent;
  border-bottom: em(7px, 12px) solid $color-infoMedium;
  content: "";
  height: 0;
  line-height: 0;
  margin: 0 0 0 em(-6px, 12px);
  position: absolute;
  top: em(-7px, 12px);
  left: 50%;
}

.jv-mTooltipTop.jv {
}
.jv-mTooltipTop:after,
.jv-mTooltipTopRight:after,
.jv-mTooltipTopLeft:after {
  border-right: em(6px, 12px) solid transparent;
  border-left: em(6px, 12px) solid transparent;
  border-top: em(7px, 12px) solid $color-infoMedium;
  content: "";
  height: 0;
  line-height: 0;
  margin: 0 0 0 em(-6px, 12px);
  position: absolute;
  bottom: em(-7px, 12px);
  left: 50%;
}

.jv-mTooltipTopRight:after,
.jv-mTooltipBottomRight:before {
  left: auto;
  right: em(18px, 12px);
}

.jv-mTooltipTopLeft:after,
.jv-mTooltipBottomLeft:before {
  left: em(18px, 12px);
}

.jv-mTooltipRight.jv {
}
.jv-mTooltipRight.jv:before {
  border-top: em(6px, 12px) solid transparent;
  border-bottom: em(6px, 12px) solid transparent;
  border-right: em(7px, 12px) solid $color-infoMedium;
  content: "";
  height: 0;
  line-height: 0;
  margin: 0 em(-10px, 12px) 0 0;
  position: absolute;
  left: em(-7px, 12px);
  top: 0.909em; // keep ems so it's scalable
}

.jv-mTooltipLeft.jv {
}
.jv-mTooltipLeft.jv:before {
  border-top: em(6px, 12px) solid transparent;
  border-bottom: em(6px, 12px) solid transparent;
  border-left: em(7px, 12px) solid $color-infoMedium;
  content: "";
  height: 0;
  line-height: 0;
  margin: 0 em(-10px, 12px) 0 0;
  position: absolute;
  right: em(3px, 12px);
  top: 0.909em; // keep ems so it's scalable
}

.jv-mTooltip-label.jv {
  font-size: 11px;
  font-weight: bold;
}

.jv-mTooltip-text.jv {
  font-size: 12px; // new base font size
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.jv-mTooltip.jv > .jv-mTooltip-text.jv:first-child {
  font-family: $font-family-semibold;
}

.jv-mTooltip-label.jv + .jv-mTooltip-text.jv {
}

.jv-mTooltip-text.jv + .jv-mTooltip-label.jv {
  margin-top: em(14px);
}

.jv-mTooltip.jv-isInvisible.jv {
  visibility: hidden; // to be able to calculate dimensions
}

// ----------------------------
//  MODULE VARIATION - OUTLINE
// ----------------------------
.jv-mTooltipOutline.jv {
  background-color: #fff;
  border-color: $color-infoMedium;
  border-width: em(1px);
  border-style: solid;
  color: $color-infoMedium;
}

.jv-mTooltipOutline.jv > .jv-mTooltip-text.jv:first-child {
  font-family: $font-family-primary;
  font-weight: normal;
}

.jv-mTooltipOutline.jv .jv-mTooltip-label.jv {
}

// ------------------------------
//  MODULE VARIATION - ATTENTION
// ------------------------------
.jv-mTooltipAttention.jv {
  // !important is needed for alt themes
  background-color: $color-attentionMedium !important;
  border-color: $color-attentionMedium;
}

.jv-mTooltipAttention.jv-mTooltipBottom {
}
.jv-mTooltipAttention.jv-mTooltipBottom.jv:before,
.jv-mTooltipAttention.jv-mTooltipBottomRight:before,
.jv-mTooltipAttention.jv-mTooltipBottomLeft:before {
  border-bottom-color: $color-attentionMedium;
}

.jv-mTooltipAttention.jv-mTooltipTop {
}
.jv-mTooltipAttention.jv-mTooltipTop:after,
.jv-mTooltipAttention.jv-mTooltipTopRight:after,
.jv-mTooltipAttention.jv-mTooltipTopLeft:after {
  border-top-color: $color-attentionMedium;
}

.jv-mTooltipAttention.jv-mTooltipRight {
}
.jv-mTooltipAttention.jv-mTooltipRight.jv:before {
  border-right-color: $color-attentionMedium;
}

.jv-mTooltipAttention.jv-mTooltipLeft {
}
.jv-mTooltipAttention.jv-mTooltipLeft.jv:before {
  border-left-color: $color-attentionMedium;
}

// ----------------------------------------
//  MODULE VARIATION - ATTENTION + OUTLINE
// ----------------------------------------
.jv-mTooltipAttention.jv-mTooltipOutline.jv {
  background-color: #fff;
  border-color: $color-attentionMedium;
  color: $color-attentionDark;
}

// ----------------------------
//  MODULE VARIATION - WARNING
// ----------------------------
.jv-mTooltipWarning.jv {
  // !important is needed for alt themes
  background-color: $color-warningMedium !important;
  border-color: $color-warningMedium;
}

.jv-mTooltipWarning.jv-mTooltipBottom {
}
.jv-mTooltipWarning.jv-mTooltipBottom.jv:before,
.jv-mTooltipWarning.jv-mTooltipBottomRight.jv:before,
.jv-mTooltipWarning.jv-mTooltipBottomLeft.jv:before {
  border-bottom-color: $color-warningMedium;
}

.jv-mTooltipWarning.jv-mTooltipTop {
}
.jv-mTooltipWarning.jv-mTooltipTop:after,
.jv-mTooltipWarning.jv-mTooltipTopRight:after,
.jv-mTooltipWarning.jv-mTooltipTopLeft:after {
  border-top-color: $color-warningMedium;
}

.jv-mTooltipWarning.jv-mTooltipRight {
}
.jv-mTooltipWarning.jv-mTooltipRight.jv:before {
  border-right-color: $color-warningMedium;
}

.jv-mTooltipWarning.jv-mTooltipLeft {
}
.jv-mTooltipWarning.jv-mTooltipLeft.jv:before {
  border-left-color: $color-warningMedium;
}

// --------------------------------------
//  MODULE VARIATION - WARNING + OUTLINE
// --------------------------------------
.jv-mTooltipWarning.jv-mTooltipOutline.jv {
  background-color: #fff !important;
  border-color: $color-warningMedium;
  color: $color-warningDark;
}

// --------------------------
//  MODULE VARIATION - ERROR
// --------------------------
.jv-mTooltipError.jv {
  // !important is needed for alt themes
  background-color: $color-errorMedium !important;
  border-color: $color-errorMedium;
}

.jv-mTooltipError.jv-mTooltipBottom {
}
.jv-mTooltipError.jv-mTooltipBottom.jv:before,
.jv-mTooltipError.jv-mTooltipBottomRight:before,
.jv-mTooltipError.jv-mTooltipBottomLeft:before {
  border-bottom-color: $color-errorMedium;
}

.jv-mTooltipError.jv-mTooltipTop {
}
.jv-mTooltipError.jv-mTooltipTop:after,
.jv-mTooltipError.jv-mTooltipTopRight:after,
.jv-mTooltipError.jv-mTooltipTopLeft:after {
  border-top-color: $color-errorMedium;
}

.jv-mTooltipError.jv-mTooltipRight {
}
.jv-mTooltipError.jv-mTooltipRight.jv:before {
  border-right-color: $color-errorMedium;
}

.jv-mTooltipError.jv-mTooltipLeft {
}
.jv-mTooltipError.jv-mTooltipLeft.jv:before {
  border-left-color: $color-errorMedium;
}

// ------------------------------------
//  MODULE VARIATION - ERROR + OUTLINE
// ------------------------------------
.jv-mTooltipError.jv-mTooltipOutline.jv {
  background-color: #fff !important;
  border-color: $color-errorMedium;
  color: $color-errorDark;
}
