/*
* Copyright © 2024. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/* ========================================
	VALIDATION STYLES
	Last modified date:     May 11, 2019
	Last modified by:       Anna Leeg
 * ======================================== */

@use "sass:math";

.jv-mValidation.jv {
  display: flex;
  flex-wrap: nowrap;
  font-family: $font-family-semibold;
  font-size: $font-size-primary;
  font-weight: normal;
}

.jv-mValidation-icon.jv {
  flex: 0 0 auto;
  color: inherit !important;
  line-height: 1.2 !important;
  min-width: em(17px, 12px);
}

.jv-mValidation-text.jv {
  flex: 1 1 auto;
  line-height: math.div(14px, 12px);
  padding-top: em(1px, 12px);
  white-space: normal;
  word-break: break-all;
}

// validation types
.jv-mValidationError.jv {
  color: $color-errorMedium;
}
.jv-mValidationSuccess.jv {
  color: $color-successDark;
}
.jv-mValidationWarning.jv {
  color: $color-warningMedium;
}
.jv-mValidationAttention.jv {
  color: $color-attentionMedium;
}

// ORIGINAL VERSION, to be removed
.jv-mValidationOriginal.jv {
  font-family: $font-primary---family;
  font-size: $font-primary---size;
  font-weight: normal;
  line-height: math.div(14px, 11px);
  margin-bottom: em(6px);
  margin-top: em(4px);
}

.jv-mValidation-alert.jv {
  display: flex;
  min-height: em(14px);
}

.jv-mValidation-alert-text.jv {
  font-size: 10px; // new base font size
  font-weight: bold;
  line-height: math.div(14px, 10px);
  padding-top: em(1px, 10px);
  white-space: normal;
}

.jv-mValidation-alert-icon.jv {
  color: inherit !important;
  line-height: 1.2 !important;
  vertical-align: top;
  min-width: em(17px);
}

// validation types
.jv-mValidation-alertError.jv {
  color: $color-errorMedium;
}
.jv-mValidation-alertSuccess.jv {
  color: $color-successDark;
}
.jv-mValidation-alertWarning.jv {
  color: $color-warningMedium;
}
.jv-mValidation-alertAttention.jv {
  color: $color-attentionMedium;
}
