.demoButtonGroup .demoTitle,
.demoButtonGroupInline .demoTitle {
  margin-bottom: 12px;
}

.demoButtonGroup .demoSize {
  min-width: 160px;
}

.demoButtonGroupInline .demoSize {
  margin-right: 48px;
  min-width: 230px;
}
