.demoDroparea {
  background-color: #ffffff;
  flex-direction: column;
  padding: 0 4px;
  width: 300px;
}

.demoDroparea .demoDescription-title {
  color: #333333;
  font-family: source_sans_prosemibold;
  font-size: 13px;
  line-height: 1.5;
  padding: 0;
  display: block;
}

.demoDroparea .demoDescription {
  color: #666666;
  font-family: source_sans_proregular;
  font-size: 13px;
  line-height: 1.5;
  padding: 0;
  margin-bottom: 6px;
}
